<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-brand navbar-header">
      <a class="navbar-brand navbar-header" href="<%= root_path %>"> Orchid Beauty</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Start</a> </li>
      <li><a href="#">Polityka prywatności</a> </li>
      <li><a href="#">Regulamin</a> </li>
      <li><a href="#">Dostawa i płatności</a> </li>
      <li><a href="#">O sklepie</a> </li>
    </ul>
  </div>
</nav>